/* Sections */

.div-login {
  background-color: rgb(62, 62, 62);
  border: 4px inset;
}

.forms-login {
  background-color: rgb(181, 169, 169);
  color: #282c34;
  border: 2px double rgb(99, 99, 99);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.forms-login label {
  font-size: 15px;
  font-weight: 600;
}

input[type="email"],
input[type="password"] {
  color: mix(white, #424242, 70%);
  font-size: 12px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 10px;
  border-bottom: 1px solid mix(white, #424242, 70%);
}

input[type="password"] {
  letter-spacing: 0.2em;
}