/* Sections */

.div-login {
  background-color: rgb(62, 62, 62);
  border: 4px inset;
}

.forms-login {
  background-image: url(https://images6.alphacoders.com/912/thumb-1920-912465.jpg);
  color: #000000;
  text-shadow: 0 0 7px rgb(123, 153, 188),
  0 0 10px rgb(123, 153, 188),
  0 0 21px rgb(123, 153, 188),
  0 0 42px rgb(123, 153, 188),
  0 0 82px rgb(123, 153, 188),
  0 0 92px rgb(123, 153, 188),
  0 0 102px rgb(123, 153, 188),
  0 0 151px rgb(123, 153, 188);
  border: 2px double rgb(99, 99, 99);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.forms-login label {
  font-size: 15px;
  font-weight: 600;
}

input[type="email"],
input[type="password"] {
  background-color: rgb(171, 171, 171);
  color: mix(white, #424242, 70%);
  font-size: 12px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: 2px double;
  border-radius: 10px;
  border-bottom: 1px solid mix(white, #424242, 70%);
}

input[type="password"] {
  letter-spacing: 0.2em;
}